.main {
  background-color: #effafa;
  height: 100%;
  overflow-x: hidden;
}

.section {
  background-color: #effafa;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.job-list {
  padding: 40px 0;
}

@media (max-width: 845px) {
  .job-list {
    padding-top: 70px;
  }
}

.job-list__box {
  margin-bottom: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 6px;
  padding: 20px 40px;
  animation: showItem 0.5s cubic-bezier(0.5, 0, 0.75, 0);
}

@media (max-width: 845px) {
  .job-list__box {
    margin-bottom: 65px;
    position: relative;
    gap: 20px;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 20px 20px 20px;
  }
}

.job-list__name {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 3px;
}

.job-list__name-text {
  color: #5ba4a4;
  font-size: 18px;
  line-height: 100%;
}

.job-list__name-params {
  color: white;
  font-size: 12px;
  line-height: 9px;
  text-transform: uppercase;
  padding: 6px 4px;
  border-radius: 8px;
  background-color: #5ba4a4;
  font-weight: 700;
}

.job-list__name-params:nth-child(3) {
  background-color: black;
}

.job-list__info {
  max-width: 232px;
  width: 100%;
}

.job-list__major {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 30px;
}

@media (max-width: 845px) {
  .job-list__major {
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid #eef6f6;
  }
}

.job-list__vacancy {
  cursor: pointer;
  font-size: 20px;
  line-height: 100%;
  margin-bottom: 8px;
  transition: color 0.4s cubic-bezier(0.22, 1, 0.36, 1);
}

.job-list__vacancy:hover {
  color: #5ba4a4;
}

.job-list__conditions {
  display: flex;
  align-items: center;
  gap: 21px;
}

.job-list__conditions-text {
  position: relative;
  font-size: 16px;
  line-height: 100%;
  color: #7b8e8e;
}

.job-list__conditions-text:nth-child(2)::after {
  position: absolute;
  content: '';
  top: 40%;
  right: -20%;
  height: 3px;
  width: 3px;
  border-radius: 50px;
  background-color: #7b8e8e;
}

.job-list__conditions-text:nth-child(2)::before {
  position: absolute;
  content: '';
  top: 40%;
  right: 115%;
  height: 3px;
  width: 3px;
  border-radius: 50px;
  background-color: #7b8e8e;
}

.job-list__filters {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (max-width: 845px) {
  .job-list__filters {
    flex-wrap: wrap;
  }
}

.job-list__filters-item {
  color: #5ba4a4;
  outline: none;
  background-color: #eef6f6;
  border: none;
  border-radius: 6px;
  padding: 4px 8px;
  transition: all 0.4s cubic-bezier(0.22, 1, 0.36, 1);
}

.job-list__filters-item:hover {
  background-color: #5ba4a4;
  color: #eef6f6;
}

@media (max-width: 845px) {
  .job-icon {
    position: absolute;
    top: -55px;
  }
}

.left-line {
  position: relative;
}

.left-line::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  background-color: #5ba4a4;
  left: 0;
  top: 0;
  border-radius: 6px 0 0 6px;
}

.input__filler {
  width: 100%;
  background-color: white;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
}

.input__filler-container {
  padding-top: 150px;
}

.input__filler-inner {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}

.input__filler-item {
  gap: 10px;
  display: flex;
  align-items: center;
  background-color: #eef6f6;
  border-radius: 6px;
  padding: 0 0 0 12px;
  color: #5ba4a4;
}

.cross-img {
  cursor: pointer;
  padding: 9px;
  background-color: #5ba4a4;
  border-radius: 0 6px 6px 0;
}

.cross-img:hover {
  background-color: #2c3a3a;
}

.clear-btn {
  margin-left: 20px;
  outline: none;
  background-color: transparent;
  border: none;
  font-size: 19px;
  color: #5ba4a4;
}

.clear-btn:hover {
  text-decoration: underline;
}

@keyframes hideItem {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(1360px);
  }
}

@keyframes showItem {
  0% {
    opacity: 0;
    transform: translateX(1360px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.hide__item {
  animation: hideItem 0.5s cubic-bezier(0.5, 0, 0.75, 0);
}
